@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import 'noty/lib/noty.css';
@import 'noty/lib/themes/mint.css';

@import './tailwind.pcss';

@import './base.pcss';

@import './components/nav.pcss';
@import './components/client.pcss';
